version: '3.8'
services:
  pulsar:
    image: apachepulsar/pulsar
    container_name: pulsar
    command: >
      bash -c "
        bin/pulsar standalone
      "
    ports:
      - "6650:6650"
      - "3080:8080"
    volumes:
      - pulsar_data:/pulsar/data
      - pulsar_conf:/pulsar/conf

volumes:
  pulsar_data:
  pulsar_conf:
